nav {
  --duration: .5s;
  --easing: ease-in-out;
  position:fixed;
  width: 220px;
top:20px;
left:20px;
font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #333;
  font-size: 100%;
z-index:1000;
  line-height: 1.5;
}
nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: -4px 0 0 0;
}
nav a {
  display: block;
  text-decoration: none;
  background: #fff;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
	text-shadow:none !important;
color:black;
z-index:1000;
}
nav a:hover {
  background: #efefef;
  color:black;
}
nav header {

  text-shadow:none !important;
  font-weight: 600;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  transform-origin: 0 0;
  transition:transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
  color:black;
}
nav header span {
  border: none !important;
  background: transparent;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  float: right;
}
nav footer button {
  position: fixed;
  top: 20px;
  left: 20px;
  border: none;
  padding: calc(1em - 2px);
  width: 220px;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing);
  transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
  cursor: pointer;
z-index:1000;
opacity:0;

}
nav.closed{
width:220px;
z-index:1000;
}
nav.closed ol{
width:220px;
}
nav.closed a,
nav.closed header {
  transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
  transition-delay: var(--delay-in);
  color: transparent !important;
z-index:1000;
}
nav.closed footer button {
	z-index:1000;
  transition-delay: 0s;
  transform: scaleY(0.7) scaleX(0.2);
}
